
  .navbar.navbar-inverse{
    padding:0px;
    height: 80px;
    margin-bottom: 0px;
  }

.navbar-left{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
}
.navbar-right{
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 40px;
}

i{
  height: 40px;
  height: 375%;
  width: 40px;
  margin-top: 0px;
  vertical-align: middle;
  

}
  .container{
    width: 100%;
    margin: auto;
  }
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  background-color: #D3D3D3;
  }
  p{
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
  }

  h1{
    text-align:center;
    font-size: 90px;
  }
  h3{
    padding:10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
  }
  
img {
  border: solid 3px;
  display: block;
  height: 500px;
  margin:auto;
   
}
.screenshot{
  border-style: none;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 300px;
  height: 200px;
}

ul{
  	list-style-type: none;
    text-align: center;
}

li{
  text-align: left;
 /*list-style-type: none;*/
 font-size: 20px;
 margin-left: 200px;
 margin-right: 200px;
}
.link-list{
  font-size: 25px;
  text-align: center;
  margin: auto;
}
a{
  font-weight: bolder;
  font-size: 20px;
}
#page-title{
  margin-top: 5px;
  display: block;
}

.btn-lg{

  background-color: #404146;
  text-decoration-color: white;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  padding-left:auto:;
  padding-right:auto;
          

}
.pre{
  width:50%;
}
.blog-links{
  font-size: 30px;
}
.blog-dates{
  font-size: 20px;
}
.blog-exerpts{
  font-size: 25px;
}
.highlight{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
code{
  font-size: 45px;
  font-weight: bolder;
}
.about-me-paragraph{

}
.about-me-img{
  width: 500px;
  margin-bottom: 20px;
}
.portfolio-item{
  margin-top:40px;
  display: inline-block;

}
.blog-text{
  margin-top: 75px;
}
.navbar-icon{
  color: #a3a1a1;
}
.navbar-icon:hover{
  color: #a3a1a1;
}
.navbar-icon:active{
  color: #a3a1a1;
}

.navbar-link:hover{
  text-decoration: none;
}