<DOCTYPE html>
<html>

  <!--HEADER -->
  <head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- // local stylesheet in app/css folder   -->
    <link  href="/app/css/styles.css" type="text/css" rel="stylesheet"/>
    
    <!-- // google font "ubuntu condensed" -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    
    
    <title>Casey DeMattina</title>
  </head>


  {{content}}

  <!-- FOOTER -->
  


          <!-- Social Media Links -->
        <nav class="navbar">
        
          <a href="https://github.com/caseydemo" target="_blank">GitHub</a> 
          <a href="https://stackoverflow.com/users/8490119/casey-demattina" target="_blank">stackoverflow</a> 
          <a href="https://www.linkedin.com/in/casey-demattina-29aa98103/" target="_blank">LinkedIn</a> 
          <a href="https://twitter.com/caseydemo" target="_blank">Twitter</a> 
          <a href="https://www.facebook.com/cdemattina" target="_blank">Facebook</a>
        
        </nav>
    
  

<!-- CLOSING HTML TAG -->
</html>
