<DOCTYPE html>
<html>

  <!--HEADER -->
  <head>
    <link  href="/app/css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <title>Casey DeMattina</title>
  </head>


  {{content}}

  <!-- FOOTER -->
  
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
          <!-- Social Media Links, Yo -->
        <a href="https://github.com/caseydemo" target="_blank">GitHub</a> |
        <a href="https://stackoverflow.com/users/8490119/casey-demattina" target="_blank">stackoverflow</a> |
        <a href="https://www.linkedin.com/in/casey-demattina-29aa98103/" target="_blank">LinkedIn</a> |
        <a href="https://twitter.com/caseydemo" target="_blank">Twitter</a> |
        <a href="https://www.facebook.com/cdemattina" target="_blank">Facebook</a>
    </div>
  </nav>
    
  

<!-- CLOSING HTML TAG -->
</html>
